<section class="home">
  <form (ngSubmit)="iniciarPartida()">
    <h2>Configurar nuevo juego:</h2>
    <div>
      <label for="ancho">Ancho del campo:</label>
      <input type="number" name="ancho" min="4" max="100" [(ngModel)]="ancho">
    </div>
    <div>
      <label for="alto">Alto del campo:</label>
      <input type="number" name="alto" min="4" max="100" [(ngModel)]="alto">
    </div>
    <div>
      <label for="holes">Pozos presentes:</label>
      <input type="number" name="holes" min="3" max="100" [(ngModel)]="nroPozos">
    </div>
    <div>
      <label for="arrows">Flechas disponibles:</label>
      <input type="number" name="arrows" min="3" max="10" [(ngModel)]="nroFlechas">
    </div>
    <button type="submit">Start game</button>
  </form>
</section>
