<section class="payment">
  <form (ngSubmit)="handleClick()">
    <h3>Make a payment</h3>
    <div>
      <input type="number" name="ccnumber" 
      (input)="ccNumberChanged($event)"
      placeholder="Credit card number"
      autofocus min="1">
      <label *ngIf="!isValid.creditCardNumber" for="ccnumber">X</label>
    </div>
    <div>
      <input type="text" name="ccholder" 
      [(ngModel)]="paymentForm.creditCardHolder"
      (ngModelChange)="ccHolderChanged()"
      placeholder="Credit card holder">
      <label *ngIf="!isValid.creditCardHolder" for="ccholder">X</label>
    </div>
    <div>
      <input type="month" 
      name="expdate" [(ngModel)]="inputDate" 
      (ngModelChange)="dateChanged()" 
      placeholder="Expiration date">
      <label *ngIf="!isValid.expirationDate" for="expdate">X</label>
    </div>
    <div>
      <input type="number" 
      name="seccode" 
      (input)="securityCodeChanged($event)" 
      placeholder="Security code" min="1">
      <label *ngIf="!isValid.securityCode" for="seccode">X</label>
    </div>
    <div>
      <input type="number" 
      name="payamount" 
      [(ngModel)]="paymentForm.paymentAmount" 
      placeholder="Payment amount" min="0">
      <label *ngIf="!isValid.paymentAmount" for="payamount">X</label>
    </div>
    <div>
      <button type="submit">Save</button>
    </div>
  </form>
  <img src="../../../assets/creditCardDefinition.png" alt="Form values demostration">
</section>