body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  border-color: #fa8264;
  color: #fa8264;
  min-width: 360px;
}

.bg {
  z-index: -1;
  width: 100%; height: 100%;
  margin : 0; padding : 0;
  background-color: rgb(40, 40, 50);
  position: fixed;
  top : 0; left : 0;
}

nav {
  margin : 10px; padding : 0;
  text-align: center;
}

a:active, a:link, a:visited {
  text-decoration: none;
}

a.active {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

nav > div {
  display: inline;
  text-align: center;
  width: 15%; height: 15%;
}

nav > div > a {
  font-size: 1rem;
  color : inherit;
  margin : 5px; padding: 10px;
}

a:hover {
  background-color : rgba(255, 255, 255, 0.05);
}

@keyframes softEntry {
  from {
    opacity : 0;
    margin-top : 10vh;
  }
  to {
    opacity : 1;
    margin-top : 4vh;
  }
}

.home {
  animation : softEntry;
  animation-duration: 1.5s;
  text-align : center;
  vertical-align: middle;
  margin-top : 4vh;
}

.home > * {
  display: inline-block;
  margin-top : 25vh;
}

.payment {
  animation : softEntry;
  animation-duration: 1.5s;
  vertical-align: middle;
  margin : 4vh; padding : 2.5vh;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.5rem;
}

.payment > * {
  width: 50%; display: inline-block;
  margin : 0; padding : 0;
  border-radius : 0.5rem;
}

.payment > form > div > button {
  width : 85%; padding : 0.5rem;
  margin : 0.5rem 0; border-radius: 0.5rem;
  background-color: darkcyan;
}

.payment > form > div > input {
  padding : 0.5rem; width : 80%;
  border-radius: 0.5rem; margin : 0.5rem 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.payment > form > div > label {
  padding : 0.5rem; width : 10%;
  border-radius: 0.5rem; margin : 0.5rem 0;
}

section > nav {
  text-align: center;
  margin-top: 5vh;
  margin-bottom : 5vh;
}

nav > button {
  background-color : transparent;
  border : none;
  font-size: 1.5rem;
  color : inherit;
  outline: none;
  padding : 1rem;
}

nav > button:disabled {
  color :#966432;
}

h1 {
  font-size: 4rem;
}

@media only screen and (max-width : 500px) {
  .card {
    width : 92%; height: 80vh;
  }
}

@media only screen and (min-width : 501px) {
  .card {
    width : 44%; height: 40vh;
  }
}

@media only screen and (min-width : 850px) {
  .card {
    width : 28%; height: 40vh;
  }
}

@media only screen and (min-width : 1280px) {
  .card {
    width : 20%; height: 50vh;
  }
}